* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgba(205, 206, 208, 0.5);
  overflow: hidden;
}
.main {
  height: 100vh;
  display: flex;
}

.main-content{
  display:flex;
  flex-direction: column;
  width:100%;
  padding: 0;
}

.sidebar-menu {
  position: relative;
  background-color: #2c3e50;
  background-size: cover;
  width: 200px;
  box-shadow: 4px 0px 8px rgba(8, 8, 8, 0.4);
}

.black-cover {
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  position: absolute;
  height:100vh;
  width: 100%;
  z-index: 1;
}

.user-name-info img {
  height: 40px;
  width: 40px;
  border-radius: 30%;
}

.sidebar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}

.heading-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 50px;
  height: 60px;
  padding: 0.5rem 0.5rem;
}

i {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1.5rem;
}

.heading-info i {
  font-size: 1.5rem;
  opacity: 0.7;
  margin-right:1rem;
  /* font-weight: lighter; */
}

.heading-info a {
  font-size: 1rem;
  font-weight: 500;
}

.sidebar-menu .user-name-info {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 50px;
  padding: 0.5rem 0.5rem;
}
.user-name-info a {
  /* margin-left: 0.5rem; */
  font-size: 1rem;
  opacity:0.9;
}
.sidebar-menu .menu {
  margin-top: 2rem;
}

.sidebar-menu .menu li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: all ease-in-out 0.5s;
  border-radius: 4px;
  margin:0.75rem 0 ;
}

.sidebar-menu .menu li:hover {
  background-color: rgb(69, 179, 223);
}

.sidebar-menu .menu a{
  opacity:0.8;
}
.sidebar-menu .menu i{
  opacity:0.8;
}


.sidebar-menu .line {
  position: relative;
  background-color: #dcdcdc;
  height: 1px;
  width: 150px;
  margin-top: auto;
  margin-left: 12px;
  opacity: 0.7;
}

.dashboard{
  flex:1;
  overflow: scroll;
}
.navbar{
  position: sticky;
  top:0;
  backdrop-filter: blur(100px);
  color:black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 10;   
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-left{
    display: flex;
    align-items: center;
    font-weight: 400;
}
.nav-left button,.nav-right button{
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border:none;
  padding: 0;
  margin-right: 1rem;
  font-size: 1rem;
  width: 40px; 
  height: 40px;
  transition: all ease-in-out 0.5s;
}

.nav-right{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-right input{
  border:none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline:none;
  margin-right: 0.5rem;
  text-align: center;
}
.nav-right input::placeholder{
  opacity:0.6;
  text-align: center;
}

.nav-right i{
  color:black;
  opacity: 1;
}
.nav-right i:hover{
  color: #8f94fb;
  transition: color 0.3s ease;
}

.navbar button:hover{
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}


.flex-box{
  padding:1rem 1.7rem;
  display: flex;
  flex-wrap: wrap;
  height: auto;

}
.card-box{
  display:flex;
  flex-wrap: nowrap;
  height:auto;
  margin:1.5rem 3rem; 
  justify-content: space-evenly;
}

.card{
  background-color: rgb(67, 67, 121);
  display: flex;
  color:white;
  width:45%;
  padding:1rem 0.75rem ;
  margin:0.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.card-box .card:nth-child(1) {
  background-color: #42A5F5; 
}
.card-box .card:nth-child(2) {
  background-color:  #7E57C2; 
}
.card-box .card:nth-child(3) {
  background-color: #FFB74D; 
}
.card-box .card:nth-child(4) {
  background-color: #66BB6A; 
}

.card-box .card:hover {
  transform: translateY(-5px);
}

.card i{
  font-size:1.5rem;
}

.card h4{
  font-size: 1rem;
  font-weight: 200;
}
.div1{
  width: 92%;
  height:auto;
  background-color: white;
  border-radius:0.25rem;
  padding:1rem 1rem; 
  margin:auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  transition: all ease-in-out 0.5s;   
}

.div-header{
  height:auto;
  width:100%;
  text-align: left;
}


.div-header .line{
  height:1px;
  position: relative;
  background-color: black;
  margin:0.5rem 0rem;
  opacity:0.7;
}

.div-header h2{
  width:100%;
  color:black;
  margin:auto;
}

.div2,.div3{
  margin-top:2rem;
  margin-bottom:1.5rem;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width:100%;
  height:auto;
  justify-content: center;
  align-items: center;
}


.div2-left,.div2-right,.div3-left,.div3-right{
  background-color: #fff;
  width:45%;
  height: auto;
  margin-top:1rem;
  border-radius: 0.25rem;
  padding:1rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  transition: all ease-in-out 0.5s;  
}

.div2-left,.div3-left{
  margin-right:1.5rem;
}

.div2-left:hover,.div2-right:hover,.div3-right:hover,.div3-left:hover,.div1:hover{
  transform : scale(1.01);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.7);    
}

.div1-header-buttons{
  position: relative;
  top:0%;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  padding:0;
  margin-top:1rem;
  justify-content: flex-start;
  align-items: center;
}
.filter-btn{
    border-radius:0.75rem; 
    padding:0.25rem 0.5rem;
    margin:0.5rem 0.75rem;
    outline:none; 
    background-color: #fff;
    border:1px solid rgb(191, 191, 247);
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.filter-btn:hover{
   transform: scale(1.05);
   box-shadow: 1px 1px 8px rgba(0,0,0,0.8);

}

.filter-btn i{
  color:black;
  font-size:0.75rem;
  margin-right:0.5rem;
}

.filter-btn a{
  text-decoration: none;
  font-weight: 600;
  color:black;
  margin-right:0.5rem;
}

.div1-header-buttons .blue-btn{
  background-color: rgb(67, 165, 226);
  border:none;
}
.div1-header-buttons .blue-btn a{
  color:white;
}
.div1-header-buttons .red-btn a{
  color:white;
}
.div1-header-buttons .blue-btn i{
  color:white;
}
.div1-header-buttons .red-btn i{
  color:white;
}
.div1-header-buttons .red-btn{
  background-color: rgb(237, 93, 58);
  border:none;
}

.dashboard::-webkit-scrollbar {
  width: 10px;
}
.dashboard::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.dashboard::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (max-width: 768px) {
  .sidebar-menu {
      position: absolute;
      left: -200px;
      transition: left 0.3s ease;
  }
  .sidebar-menu.active {
      left: 0;
  }
  .dashboard {
      margin-left: 0;
  }
}


@media (max-width: 768px) {

  .div2-left, .div2-right ,.div3-left, .div3-right {
    width: 100%; 
    margin-bottom: 20px;
    margin-right: 0;
  }
  .card-box{
    margin:1rem 1rem;
    flex-wrap: wrap;
  }

  .card{
    width: 80%;
  }

}

.div2 canvas, .div1 canvas ,.div3 canvas{
  width: 100% !important; 
  height: auto !important; 
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.two-charts{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding:1rem 1.7rem;
  
}

.div1,.div2,.div3{
  flex-wrap: wrap;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

#notificationPopup{
  color:red;
  display: none;
}

#result{
  color:red;
  font-size: 0.8rem;
}
