* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgba(205, 206, 208, 0.5);
  overflow: hidden;
}
.main {
  height: 100vh;
  display: flex;
}

.sidebar-menu {
  position: relative;
  background-color: #2c3e50;
  background-size: cover;
  width: 200px;
  box-shadow: 4px 0px 8px rgba(8, 8, 8, 0.4);
}

.black-cover {
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  position: absolute;
  height:100vh;
  width: 100%;
  z-index: 1;
}

.user-name-info img {
  height: 40px;
  width: 40px;
  border-radius: 30%;
}

.sidebar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}

.heading-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 50px;
  height: 60px;
  padding: 0.5rem 0.5rem;
}

i {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1.5rem;
}

.heading-info i {
  font-size: 1.5rem;
  opacity: 0.7;
  margin-right:1rem;
  /* font-weight: lighter; */
}

.heading-info a {
  font-size: 1rem;
  font-weight: 500;
}

.sidebar-menu .user-name-info {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 50px;
  padding: 0.5rem 0.5rem;
}
.user-name-info a {
  /* margin-left: 0.5rem; */
  font-size: 1rem;
  opacity:0.9;
}
.sidebar-menu .menu {
  margin-top: 2rem;
}

.sidebar-menu .menu li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: all ease-in-out 0.5s;
  border-radius: 4px;
  margin:0.75rem 0 ;
}

.sidebar-menu .menu li:hover {
  background-color: rgb(69, 179, 223);
}

.sidebar-menu .menu a{
  opacity:0.8;
}
.sidebar-menu .menu i{
  opacity:0.8;
}


.sidebar-menu .line {
  position: relative;
  background-color: #dcdcdc;
  height: 1px;
  width: 150px;
  margin-top: auto;
  margin-left: 12px;
  opacity: 0.7;
}

.dashboard{
  flex:1;
  overflow: scroll;
}
.navbar{
  position: sticky;
  top:0;
  backdrop-filter: blur(100px);
  color:black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 10;   
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-left{
    display: flex;
    align-items: center;

}
.nav-left button{
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border:none;
  padding: 0;
  font-size: 1rem;
  width: 40px; 
  height: 40px;
  transition: all ease-in-out 0.5s;
}

.nav-left h2{
  /* color:black; */
  font-weight: 400;
  margin-left:2.5rem;
}

.nav-right{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-right button{
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border:none;
  padding: 0;
  font-size: 1rem;
  width: 40px; 
  height: 40px;
  margin-right:1rem;
  transition: all ease-in-out 0.5s;
}

.nav-right input{
  border:none;
  border-bottom: 2px solid black;
  background-color: transparent;
  color:white;
  outline:none;
  margin-right: 0.5rem;
  text-align: center;
}
.nav-right input::placeholder{
  color:black;
  opacity:0.6;
  text-align: center;
}

.nav-right i{
  color:black;
  opacity: 1;
}
.nav-right i:hover{
  color: #8f94fb;
  transition: color 0.3s ease;
}

.navbar button:hover{
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.main-content{
  /* border:2px solid red; */
  margin-top:1.5rem;
}

.flex-box{
  padding:1rem 1.7rem;
}
.card-box{
  display:flex;
  height:200px;
  margin:2rem 1rem; 
  justify-content: space-evenly;
}

.card{
  background-color: rgb(67, 67, 121);
  display: flex;
  color:white;
  width:100%;
  padding:0.5rem 0.75rem ;
  margin:0.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.card-box .card:nth-child(1) {
  background-color: #42A5F5; 
}
.card-box .card:nth-child(2) {
  background-color:  #7E57C2; 
}
.card-box .card:nth-child(3) {
  background-color: #FFB74D; 
}
.card-box .card:nth-child(4) {
  background-color: #66BB6A; 
}

.card-box .card:hover {
  transform: translateY(-5px);
}

.card i{
  font-size:1.5rem;
}

.card h4{
  font-size: 1rem;
  font-weight: 200;
}
.div1{
  width: 100%;
  height:550px;
  background-color: white;
  border-radius:0.25rem;
  padding:1rem 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;   */
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  transition: all ease-in-out 0.5s;   
}

.div1:hover{
  transform: scale(1.01);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}
.div-header{
  height:50px;
  width:100%;
  /* border: 2px solid black; */
  text-align: left;
}

.div1 .chart{
  position:relative;
  margin-top:2rem;
  width:60%;
  /* left:201px; */
  flex:1;

}

.div1 .barChart{
  width:80%;
  /* margin-left:1000px; */
  height:60%;
  margin:auto;

}
canvas{
  display:block;
}
div2 canvas{
  display:block;
  margin:auto;
}


.div-header .line{
  height:1px;
  background-color: black;
  margin-top:0.5rem;
  opacity:0.7;
}

.div-header h2{
  color:black;
  text-align: center;
  margin-right: 3rem;;
}

.div2{
  margin-top:2rem;
  margin-bottom:1.5rem;
  display:flex;
  width:100%;
  height:500px;
  justify-content: center;
  align-items: center;
}

.div2 .div2-left{
  background-color: #fff;
  width:50%;
  height: 100%;
  margin-right:1.5rem;
  margin-top:1rem;
  border-radius: 0.25rem;
  padding:1rem 1rem;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  transition: all ease-in-out 0.5s;  
}
.div2 .div2-right{
  background-color: #fff;
  width:50%;
  height: 100%;
  margin-top:1rem;
  padding:1rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);    
  transition: all ease-in-out 0.5s;
}

.div2-left:hover{
  transform : scale(1.01);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.7);    
}
.div2-right:hover{
  transform : scale(1.01);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.7);    
}

.div1-header-buttons{
  display:flex;
  width:100%;
  margin-top:1rem;
  justify-content: flex-start;
  align-items: center;
}
.filter-btn{
    border-radius:2rem;
    padding:0.25rem 0.5rem;
    margin:0 0.75rem;
    outline:none; 
    background-color: #fff;
    border:1px solid rgb(114, 114, 241);
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.filter-btn:hover{
   transform: scale(1.05);
   box-shadow: 1px 1px 8px rgba(0,0,0,0.8);

}

.filter-btn i{
  color:black;
  font-size:0.75rem;
  margin-right:0.5rem;
}

.filter-btn a{
  text-decoration: none;
  font-weight: 600;
  color:black;
  margin-right:0.5rem;
}

.div1-header-buttons .blue-btn{
  background-color: rgb(67, 165, 226);
  border:none;
}
.div1-header-buttons .blue-btn a{
  color:white;
}
.div1-header-buttons .red-btn a{
  color:white;
}
.div1-header-buttons .blue-btn i{
  color:white;
}
.div1-header-buttons .red-btn i{
  color:white;
}
.div1-header-buttons .red-btn{
  background-color: rgb(237, 93, 58);
  border:none;
}




